@media only screen and (max-width: 950px){
    html{
        overflow-x: hidden;
    }
    .logo{
        margin-left: 10px;
        margin-top: 10px;
    }
    .immagineClaudio{
        display: none;
    }
    .linkNavbar{
        display: none;
    }
    .section2{
        height: 80vh;
    }
    .section4{
        height: 90vh;
    }
    .linkNav{
        line-height: 50px;
    }
    .testoSection1_1{
        font-size: 22px !important;
    }
    .testoSection1_2{
        font-size: 50px !important;
    }
    .testoSection1_3{
        font-size: 20px !important;
    }
    .testoSezione1{
        margin-left: 10px;
        margin-bottom: 200px;
    }
    .ultimoVideo{
        margin-bottom: 20px;
        
    }
    .youtube{
        padding: 70px;
        height: 300px;
    }
    .nomeVideo{
        width: 290px;
    }
    .hSocial{
      padding: 10px 20px;
      width: 50%

    }
    .immagineAbout{
    display: none;
}









    .section4{
        width: 100%;
        height: 600px;
        background-color: #D12626;
        display: flex;
        flex-direction: column;
        align-items: ;
        justify-content: center;
    }
    .testoAbout{
      font-weight: 100;
      font-size: 18px;
      margin-top: 10px;
      width: 350px;
      text-align: left;
    }
    .about{



        margin-top: 45px;
        margin-bottom: 35px;
    }
    .hAbout{
      font-size: 20px;
      width: 70%;
      padding: 10px 20px;
    }
    .chiSono{
        width: 80%;

    }

    .lineaSuperBellaEstetica{
        padding: 4px;
        background-color: #921111;
        width: 65%;
        margin-bottom: 17px;
        border-radius: 5px;
    }
    footer{
      width: 100%;
      text-align: center;
    }
    .footer{
      padding: 10px;
      background-color: #921111;
      border-radius:10px;
      font-weight: 200;

    }
    .pFooter{
      font-size: 15px;

    }



















    iframe{
        width: 270px;
        height: 190px;
    }

    svg{
        display: block;
    }

}
