@media only screen and (max-width: 650px){
    html{
        overflow-x: hidden;
    }
    .logo{
        margin-left: 10px;
        margin-top: 10px;
    }
    .immagineClaudio{
        display: none;
    }
    .linkNavbar{
        display: none;
    }
    .linkNav{
        line-height: 50px;
    }
    .testoSection1_1{
        font-size: 22px !important;
    }
    .testoSection1_2{
        font-size: 50px !important;
    }
    .testoSection1_3{
        font-size: 20px !important;
    }
    .testoSezione1{
        margin-left: 10px;
        margin-bottom: 200px;
    }
    .ultimoVideo{
        margin-bottom: 20px;
    }
    .youtube{
        padding: 70px;
        height: 300px;
    }
    .nomeVideo{
        width: 290px;
    }
    iframe{
        width: 270px;
        height: 190px;
    }
    .section3{
        height: 190vh;
    }
    .hSocial{
        font-size: 20px;
        margin-top: 30px;
        width: 50%;
    }
    .card-container{
        display: none;
    }
    .card-container-mobile{
        display: block;
    }
    .immagineAbout{
        display: none;
    }
    .chiSono{
        margin-top: 150px;
        width: 80%;
    }
    .hAbout{
        font-size: 22px;
        width: 70%;
        padding: 7px;
    }
    .testoAbout{
        font-size: 17px;
        margin-top: 15px;
        width: 270px;
    }
    .lineaSuperBellaEstetica{
        padding: 4px;
        background-color: #921111;
        width: 65%;
        margin-bottom: 17px;
    }
    .pFooter{
        font-size: 17px;
    }
    .footer{
        margin-top: 100px;
    }
    svg{
        display: block;
    }

}
