@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #921111;
}
.logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 10px;
}
.linkNavbar{
    margin-right: 50px;
    margin-top: 10px;
}
.linkNav {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
  }
  
  .linkNav:hover {
    color: #fff;
  }
  
  .linkNav::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .linkNav:hover::before {
    transform: scaleX(1);
  }
.section1{
    background-color: #921111;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.immagineClaudio{
    margin-bottom: 200px;
}
.testoSezione1{
    margin-bottom: 150px;
    margin-left: 50px;
}
.linkSezione1{
    text-decoration: none;
    padding: 20px;
    margin-top: 10px;
    background-color: #D12626;
    transition-duration: 0.7s;
}
.linkSezione1:hover{
    letter-spacing: 5px;
    transition-duration: 0.5s;
}
.section2{
    width: 100%;
    height: 100vh;
    background-color: #D12626;
    display: flex;
    align-items: center;
    justify-content: center;
}
.youtube{
    margin: 300px;
    padding: 100px;
    padding-top: 10px;
    width: 800px;
    border-radius: 15px;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    background-color: rgb(146, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nomeVideo{
    margin-top: 20px; 
    margin-bottom: 45px;
}
.ultimoVideo{
    text-decoration: none;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}
.section3{
    height: 100vh;
    width: 100%;
    background-color: #921111;
}
.card-container{
    width: 90%;
    margin: 50px;
    padding: 2rem;
    background-color: rgb(146, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-container-mobile{
    display: none;
}
.card{
    width: 90%;
    margin: 20px;
    background-color: #D12626;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.social-img,
.descrizione {
    width: 90%;
    margin: 0 auto;
}
.social-img {
    padding: 20px 15px;
} 
.descrizione {
    padding: 15px 10px;
}
.social-img img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.descrizione h2 {
    padding-bottom: 25px;
}
.linkCard1{
    text-decoration: none;
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(146, 17, 17);
}
.hSocial{
    text-decoration: none;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 10px;
    width: 30%;
}
.section4{
    width: 100%;
    height: 70vh;
    background-color: #D12626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}
.hAbout{
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    width: 35%;
    text-align: center;
}
.chiSono{
    width: 50%;

}
.immagineAbout{

}
.lineaSuperBellaEstetica{
    padding: 5px;
    background-color: #921111;
    width: 15%;
    margin-bottom: 20px;
}
.footer{
    padding: 20px;
    background-color: #921111;
    text-align: center;
    border-radius:10px;
    width: 100%;
    margin-top: 275px;
}
.pFooter{
    font-size: 20px;
    margin-bottom: 5px;
}
.testoAbout{
    font-size: 22px;
}
svg{
    display: none;
}
.hamburger{
    display: none;
}
