@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}


@media only screen and (max-width: 1024px) {
    #link_nav{
        display: none;
    }
    #card_container{
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (min-width: 1024px) {
    #menu_svg{
        display: none;
    }
    #card{
        width: 30vw;
    }
}

@media only screen and (max-width: 650px) {
    #iframe{
        display: none;
    }
    #linea{
        width: 40%;
        margin-left: 40px;
    }
    #chisono{
        margin-left: 40px;
    }
    #text_about{
        margin-left: 40px;
    }
} 