

.Titoli{

    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: rgb(255, 0, 0);
    margin: auto;

}

.TopBar{

background-color: rgb(146, 17, 17);
height: 40px;

}

.LinkNoUnderline{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
    

}

p:hover {
    color: rgb(255, 255, 255);
}



i{

    font-size:48px;
    


}  
i:hover{

    color: rgb(0, 0, 0);
    

}  

.ElementiLista{

    font-size: 20px;
    font-family: Ubuntu;


}

.moveimage
{
    position: relative;
    top: 6px;
    left: 5px;
    
    
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.right1 {
    position: absolute;
    right: 0px;
    width: 300px;
    
    padding: 10px;
} 

.carda {
    width:320px;
}

.content {
    max-width: 720px;
    margin: auto;

}

.inner-width{

    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;

}

.section-title{

    text-align: center;
    font-size: 30px;
}
